# Mantén estos archivos CRUCIALES para el build
!mix.exs
!mix.lock
!config/
!lib/
!assets/
!priv/

# Ignora estos directorios/archivos
.git/
.elixir_ls
/_build
/deps
/cover
/doc
/tmp
/test
*.ez
erl_crash.dump

# Assets - IMPORTANTE: ¡No ignores estos!
!/assets/package.json
!/assets/package-lock.json
!/assets/js/
!/assets/css/
!/assets/static/

# Ignora node_modules pero permite su reconstrucción
/assets/node_modules/