<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Prenuer Social </title>
    <.live_title suffix=" · Phoenix Framework">Red Social</.live_title>
    <link rel="stylesheet" href={~p"/assets/app.css"}/>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  </head>
  <style>
    .sidebar {
        display: none;
        
    }
    .sidebar img {
      display: none;
    }

    @media (min-width: 1024px) {
      .sidebar {
        display: block;
        position: fixed;
      }
      .sidebar img {
        display: block;
      }
    }
  </style>
  <body class="bg-gray-50 m-0 ">
    <main role="main" class="container ">
      <%= @inner_content %>
      <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
    </main>

  </body>
</html>